<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
}

/*li a.active {
  background-color: #04AA6D;
  color: white;
}*/

li a:hover:not(.active) {
  background-color: #00cccc;
  color: black;
}
</style>
</head>
<body>
<h2><font face="Arial" size="10" color="#00cccc">Treat the needy</font></h2>
<ul>
  <li><a href="/viewVerReqD">View Verification requests of Donors</a></li>
  <li><a href="/viewVerReqR">View Verification requests of Receivers</a></li>
  <li><a href="/">Logout</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <div style="padding:20px 200px;margin-top:30px;height:1500px">
      <img src="https://img.freepik.com/free-vector/young-volunteer-with-food-donation-boxes-concept-illustrations-food-donation-concept-with-character-can-use-web-banner-infographics-hero-images_106796-258.jpg?size=626&ext=jpg" height="500" width="600">
    <div>   
</div>

</body>
</html>


