<html>
<body>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>error</title>
<style>

.button {
  background-color:#00cccc; 
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 16px;
  background-color: white; 
  color: black; 
  width:190;
  border: 2px solid #00cccc;

}
.button2:hover {
  background-color:#00cccc;
  color: white;
}
</style>
</head>
<form method="POST">
<h2>Username or Email id already exists</h2>
<button class="button button2" name="back" value="back" >Back</button>
</form>
</body>
</html>