<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{overflow:hidden;}
* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://insights.nordea.com/wp-content/uploads/2019/09/GettyImages-1127769156-1600x1068.jpg");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 0px;
  max-width: 500px;
  padding: 16px;
  vertical-align: center;
  background-color: white;
  width:400px;
  height: 800px;

 
}

.button {
  background-color:#00cccc; 
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 16px;
  background-color: white; 
  color: black; 
  width:190;
  border: 2px solid #00cccc;

}
.button2:hover {
  background-color:#00cccc;
  color: white;
}

/* Set a style for the submit button */


</style>
</head>
<body>

<h2>Form on Hero Image</h2>
<div class="bg-img">
  <form action="Login" class="container" method="POST">
    <h1>Login</h1>
    <label for="users" style="font-size: 24">Choose a user:</label>
    <select id="users" name="users" style="height: 30;width: 100%; padding: 15px;margin: 5px 0 22px 0;background: #f1f1f1;border: none">
      <option value="donor">Donor</option>
      <option value="receiver">Receiver</option>
      <option value="admin">Admin</option>
    </select>
    <br>
    <br>
    <label for="uname" style="font-size: 24">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter Username" style="width: 100%;height: 30;padding: 15px;margin: 5px 0 22px 0;border: none;background: #f1f1f1;"><br><br>
    <label for="password" style="font-size: 24">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" style="width: 100%; padding: 15px;margin: 5px 0 22px 0;border: none;background: #f1f1f1;"><br><br>
    <input type="submit" class="button button2" name="submit" value="submit">
    
</form>
</div>
</body>
</html>
