<!-- <!-- <!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.imgbox{
  display: grid;
  max-width:100%;
  max-height:70vh;
  margin:auto;
}

</style>
</head>
<body>

<ul>
  <li><a href="#about">About</a></li>
  <li style="float:right"><a href="/register.html">Register</a></li>
  <li style="float:right"><a href="/Login.html">Login</a></li>
  <li style="float:right"><a href="/homepage.html">Home</a></li>
</ul>

<div class="imgbox" style="padding:10px 225px;margin-top:30px;height:1500px;">
  <img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/news/policy/food-waste-spotlighted-for-world-food-day-it-has-never-been-a-greater-time-to-invest-in-a-robust-wastage-strategy/11860835-1-eng-GB/Food-waste-spotlighted-for-World-Food-Day-It-has-never-been-a-greater-time-to-invest-in-a-robust-wastage-strategy.jpg" >
</div>

</body>
</html>
 -->
 <!-- <!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  text-align:center;
  display: inline-block;
}

/*.navbar a:hover {
  background-color: #00cccc;
}

.active {
  background-color: #04AA6D;
}*/

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: inline-block;
  }
}
.logo-image{
    width: auto;
    height: auto;
    margin-top: -2px;
    margin-left: 6px;
    vertical-align:middle;
}
.myDiv2 {
  
  width:190;
  text-align: center;
  margin:auto;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  //padding: 10px;
  height:100%;
 /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>



<div class="navbar">
  <a class="logo-image" href="/">
     
      <img src="C:\myproject\logo3.png" class="img-fluid" width="40" height="30">
      
  </a>
  <a href="" style="float:right"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a href="/register.html" style="float:right"><i class="fa fa-fw fa-user"></i> Register</a>
  <a href='/form' style="float:right"><i class="fa fa-fw fa-user"></i> Login</a>
  <a class="/homepage.html" href="#" style="float:right"><i class="fa fa-fw fa-home" ></i> Home</a> 
  <font face="Arial" size="10px" color="#00cccc">FOOD QUEST</font> -->
<!-- </div>
<div class="row">
  <div class="column" text-align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><font face="Arial" size="10" color="#00cccc">Welcome to FOOD QUEST</font></p>
    <p><font face="Arial" size="5" color="#00cccc" >Together we can solve hunger</font></p>
  </div>
  <div class="column" >
    <div style="padding:30px 25px;margin-top:30px;height:1500px;">
      <img src="C:\myproject\homepic.jpeg">
    <div>   
  </div>
</body>
</html> 
 --> 
 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Create User Data</h2>
    <form action="/users/create" method="POST">
          <label>Full Name</label>
          <input type="text" placeholder="Enter Full Name" name="fullName" required>
          <label>Email Address</label>
          <input type="email" placeholder="Enter Email Address" name="emailAddress" required>
          <label>City</label>
          <input type="city" placeholder="Enter Full City" name="city" required>
          <label>Country</label>
          <input type="text" placeholder="Enter Full Country" name="country" required>
          <button type="submit">Submit</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>