<!DOCTYPE html>
<html>
<head></head><br><br>
<style>
.a{
  float:left;
  width:25%;
  border-bottom: 1px solid black;
}

.div1 {
  
  background-color:White ;
  text-align:left;
  width: 100%;
}

.div1{

  background:  #cce5ff;
  margin: 5px;
  text_align: center;
  color: white;
  font-size: 20px;
  /* The image used */
  background-image: url("https://insights.nordea.com/wp-content/uploads/2019/09/GettyImages-1127769156-1600x1068.jpg");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
  

ul {
  background: white;
  padding: 20px;
  opacity: 0.6;
  border-radius: 15px 50px 30px;
  width: 60%;
  text-align: left;
  position: relative;
  left: 200px;
 border-style: solid;
  border-color: coral;
}

ul li {
  background: white;
  margin: 5px;
  font-size: 25px;
  
  
  
}

.hr{

}
.body{

background-image: url('example_img_girl.jpg');
}


</style>
<body>
<br>
<div class="div1">
   <h1>VERIFICATION REQUESTS SENT BY DONORS</h1>
   <ul style="list-style-type:none;" >
   <%
            if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
   %>
   <div class="mydiv"><br>
   <li><a href="/acceptVerrequest/<%=data.d_username%>/<%=data.req_id%>" style="text-decoration:none" >Request by <%=data.d_username%></a></li><br><hr style="border: 1px solid red;
  border-radius: 5px;"></div>
   
   <%  i++; }) %>
   <% } %>
 
 </div>
 
